* {
  font-family: Epilogue, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

html {
  background-image: url("sources/background.png");
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}


nav ul {
  list-style: none;
  font-size: 1.75rem;
  text-align: right;
  /* border: 1px solid orange; */
  position: absolute;
  right: 0;
  top: 2rem;
  margin-right: 5rem;
}

nav li {
  padding-top: 0.75rem;
  /* border: 1px solid green; */
}

.contact-icons img {
  width: 2.25rem;
  padding: 0.25rem;
  margin-right: 0.25rem;
}

.contact-icons span {
  font-size: 2.5rem;
}

a {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  color: #424242;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

nav li.home :hover {
  color: #518BB6;
}

nav li.resume :hover {
  color: #D25F5F;
}

nav li.projects-blogs :hover {
  color: #68AF85;
}

nav li.github :hover {
  color: rgb(172, 172, 172);
}

#shelf-words {
  max-width: 35rem;
  text-align: center;
  margin: 1.25rem 0rem 5rem 5rem;
  font-size: 1.15rem;
}

object {
  width: 100%;
}

/* --------- Page-Specific --------- */

#about-me-header * {
  margin-left: 9rem;
}

main h1 {
  font-size: 5.5rem;
  position: relative;
  letter-spacing: 0.35rem;
  color: #518BB6;
  font-family: "IBM Plex Sans", Courier, sans-serif;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 1.75rem;
}

main h2 {
  font-size: 2rem;
  position: relative;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

main ul {
  margin-left: 9rem;
  width: 60%;
  /* border: 2px solid blue; */
}

#about-me-body li {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0.75rem;
  margin-left: 3rem;
  /* border: 1px solid red; */
}

#cuair-link,
#Home-page,
#art-link {
  color: #518BB6;
  /* text-decoration: underline ; */
}

@media only screen and (max-width: 850px) {
  html {
    font-size: 13px;
  }
}


@media only screen and (max-width:650px) {
  html {
    font-size: 11px;
  }

  h1 {
    font-size: 4rem;
  }

  nav ul {
    margin: 3rem 0 0 0;
    font-size: 1.25rem;
    text-align: center;
    /* border: 1px solid orange; */
    position: absolute;
    height: 2rem;
    min-width: 35rem;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%);
  }

  nav li {
    display: inline-block;
    padding: 0 0.75rem;
  }

  .home {
    padding-left: 0;
  }

  .contact-icons {
    position: relative;
    top: 0.5rem;
    /* padding-right: 0; */
  }

  .contact-icons img {
    width: 1.75rem;
  }

  .contact-icons span {
    font-size: 2rem;
  }

  #shelf-words {
    margin: 1.25rem 0 5.5rem 0;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 80%;
  }
}

@media only screen and (max-width: 550px) {
  h1 {
    font-size: 3.5rem;
  }

  main ul {
    width: auto;
    margin: 0 5rem;
    padding-bottom: 3rem;
  }

  #about-me-header * {
    margin-left: 3rem;
  }

  nav ul {
    max-width: 350px;

  }

}