* {
    font-family: Epilogue, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

html {
    background-image: url("sources/background.png");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

#left-content {
    width: 70%;
    position: absolute;
    height: 100%;
    /* border: 1px solid red; */
}

aside {
    width: 30%;
    position: absolute;
    left: 70%;
    height: 100%;
    /* border: 1px solid blue; */
}

header {
    width: 100%;
    /* border: 1px solid blue; */
}

#shelf-words {
    width: 35rem;
    text-align: center;
    margin: 1.25rem 0rem 5rem 5rem;
    font-size: 1.15rem;
}

object {
    width: 100%;
}

#pfp {
    width: 35%;
    border-radius: 100%;
    border: 0.75rem solid #68AF85;
    position: absolute;
    left: 28rem;
    bottom: 3rem;
    min-width: 23rem;
}

main * {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: italic;
    margin-left: 9rem;
}


main h1 {
    font-size: 6.25rem;
    position: relative;
    letter-spacing: 0.35rem;
    /* border: 2px solid red; */
}

main h3 {
    font-size: 2.25rem;
    width: 15rem;
    line-height: 2.5rem;
    position: relative;
    margin-top: 1rem;
    /* border: 1px solid purple; */
}



nav ul {
    list-style: none;
    font-size: 1.75rem;
    text-align: right;
    /* border: 1px solid orange; */
    position: absolute;
    right: 0;
    bottom: 3rem;
    margin-right: 5rem;
}

nav li {
    padding-top: 0.75rem;
    /* border: 1px solid green; */
}

.contact-icons img {
    width: 2.25rem;
    padding: 0.25rem;
    margin-right: 0.25rem;
}

.contact-icons span {
    font-size: 2.5rem;
}

a {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    color: #424242;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

nav li.about-me :hover {
    color: #518BB6;
}

nav li.resume :hover {
    color: #D25F5F;
}

nav li.projects-blogs :hover {
    color: #68AF85;
}

nav li.github :hover {
    color: rgb(172, 172, 172);
}

#plant {
    /* width: 27%; */
    height: 70%;
    position: relative;
    top: -10%;
    left: 25%;
}

@media only screen and (min-width: 1600px) {
    #left-content {
        box-sizing: border-box;
        border-left: 10rem solid #68af864d;
    }

    aside {
        left: calc(70% - 10em);
        border-right: 10rem solid #68af864d;
    }

    #pfp {
        min-width: 30rem;
        left: 21rem;
    }
}

@media only screen and (max-width: 1100px) {
    #pfp {
        margin-left: 5rem;
        position: relative;
        top: 0;
        left: 0;
    }

    h1,
    h3 {
        margin-left: 5rem;
    }

    #shelf-words {
        margin-bottom: 3rem;
    }
}

@media only screen and (min-width: 850px) and (max-width: 1100px) {
    #pfp {
        min-width: 20rem;
    }
}

@media only screen and (max-width: 850px) {
    html {
        font-size: 13px;
    }

    #plant {
        height: 65%;
    }
}

@media only screen and (max-width: 650px) {
    #shelf-words {
        width: 100%;
        margin: 1.25rem 0 4rem 3rem;
        position: relative;
    }

    h1 {
        font-size: 4rem;
        line-height: 6rem;
    }

    h3 {
        padding-bottom: 1.5rem;
    }
}

@media only screen and (min-width: 550px) and (max-width: 650px) {
    #pfp {
        min-width: 20rem;
    }
}

@media only screen and (max-width:550px) {
    html {
        font-size: 11px;
    }

    #plant {
        height: 55%;
        left: 1rem;
        top: 0;
        margin-right: 3rem;
    }

    h1,
    h3 {
        margin-left: 3rem;
    }

    #pfp {
        margin-left: 3rem;
        min-width: 17.5rem;
    }

    nav ul {
        margin-right: 3rem;
        font-size: 1.5rem;
    }

    .contact-icons img {
        width: 2rem;
    }

    .contact-icons span {
        font-size: 2.25rem;
    }
}